*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body, html {
    height: 250vh;
}

body {
    display: grid;
    grid-template-areas: 
        "header header"
        "aside nav"
        "aside main"
        "aside footer";
    grid-template-columns: 200px auto;
    grid-template-rows: 18% 89px auto 100px;
    column-gap: 1px;
}

header {
    grid-area: header;
    padding: 20px;
    background: #fff;
    border-bottom: 2px solid #e0e4e8;
    background-image: url(./image/03.jpg);
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 70px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 15px;
}

header p {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-style: italic;
    color: rgba(14, 13, 13, 0.651);
    padding: 0 200px 0 200px;
}

aside {
    grid-area: aside;
    width: 200px;
    background: #4b4276;
    padding: 30px 0px;
    position: relative;
}

footer {
    grid-area: footer;
    text-align: right;
    align-self: center;
}

.btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    margin: 15px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.btn i{
  line-height: 40px;
  font-size: 25px;
  transition: 0.2s linear;
}

.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #302a26;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    justify-content: center;
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main .all {
    width: 300px;
    height: auto;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

main .all a {
    align-self: flex-end;
} 

.all a img {
    width: 250px;
}

.all a p {
    text-decoration: none;
    color: black;
}

#range {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

#quote {
    font-size: 30px;
    text-align: center;
    padding: 40px 15px 5px 15px;
    color: whitesmoke;
    font-style: italic;
}

#author {
    font-size: 15px;
    padding: 10px 1px 0 40px;
    color: whitesmoke;
    font-style: italic;
}

aside .btn1 #home {
    bottom: 1.3%;
}

aside div button {
    position: absolute;
    margin-top: 100px;
    margin-left: 5px;
    background: none;
    color: #ccc;
    width: 190px;
    height: 40px;
    border: 1px solid #4b4276;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

aside div button:focus {
    outline: none;
}

aside div button:before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

aside div button:after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    left: 30px;
    height: 100%;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

aside div button:hover {
    background: #0c0c0ca2;
    cursor: pointer;
}

aside div button:hover::before {
    transform: translate(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

aside div button:hover::after {
    transform: translate(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

aside ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

aside ul li a {
    color: #bdb8d7;
    display: block;
}

aside ul li:hover {
    background-color: #594f8d;
}

aside ul li:hover a {
    color: #fff;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 40px;
    }
    
    header p {
        font-size: 25px;
        padding: 0 70px 0 70px;
    }

    nav {
        font-size: 20px;
    }

    .all a img {
        width: 150px;
    }
}

@media (max-width: 468px) {
    body {
        grid-template-columns: 140px auto;
    }

    header h1 {
        font-size: 30px;
    }
    
    header p {
        font-size: 17px;
        padding: 10px 25px 0 25px;
    }

    nav {
        font-size: 17px;
    }

    .all a img {
        width: 130px;
    }

    aside {
        width: 150px;
    }
    aside ul h2 {
        font-size: 25px;
    }

    aside ul li h4 {
        font-size: 14px;
    }

    #quote {
        font-size: 20px;
    }
    
    #author {
        font-size: 10px;
    }

    aside div button {
        width: 100px;
    }

    .btn {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 468px) and (max-width: 768px) {
    header h1 {
        font-size: 40px;
    }
    
    header p {
        font-size: 20px;
        padding: 0 50px 0 50px;
    }

    nav {
        font-size: 20px;
    }

    .all a img {
        width: 150px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    header h1 {
        font-size: 50px;
    }
    
    header p {
        font-size: 30px;
        padding: 0 50px 0 50px;
    }

    nav {
        font-size: 30px;
    }

    .all a img {
        width: 200px;
    }
}